# NextAuth:
# https://next-auth.js.org/configuration/options#nextauth_secret
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

# GitHub:
# https://github.com/settings/apps
GITHUB_ID=
GITHUB_SECRET=
